 body {
     background-color: #ee423f;
 }
 
 #wrapper {
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
     padding-top: 5%;
 }
 
 #articles {
     display: inline-block;
     overflow: auto;
     width: 70%;
     height: 700px;
     color: white;
     font-size: 20px;
 }
 
 #jumboHead {
     color: white;
 }
 
 #jumboHead h2 {
     margin-bottom: 30px;
 }
 
 #jumboContainer {
     background: #35474c;
 }
 
 #notes {
     float: right;
     width: 30%;
     color: #333333;
 }
 
 #titleinput,
 #bodyinput {
     background: white;
 }
 
 textarea,
 input {
     display: block;
     width: 100%;
     background-color: #FCF5C7;
 }
 
 input {
     height: 36px;
     font-size: 24px;
 }
 
 textarea {
     height: 200px;
     font-size: 18px;
 }